<% include partials/galleryheader %>    
        
         <div class="collapse bg-dark" id="navbarHeader">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Explore our gallery to meet our our HOME alumni, mentors, and team.  Looking for something else? Check out our helpful links to the right.</p>
                  </div>
                  <div class="col-sm-4 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                     <li><a href="https://www.facebook.com/homemedicalprogram/" class="text-white">Like us on Facebook</a></li>
                      <li><a href="/community/mentors" class="text-white">Want to be a Mentor?</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar navbar-dark bg-dark">
              <div class="container d-flex justify-content-between">
                <a class="navbar-brand gallerynav" href="/">
                    <image src="/images/New Logo-2.png" width="25px" height="55px"></image>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
            </div>
        
            <section class="jumbotron text-center">
              <div class="container">
                <h1 class="jumbotron-heading">HOME Scholars</h1>
                <p class="lead text-muted">Meet our HOME Alumni and see photos where available.  We are very proud of them!</p>
                <p>
                  <a href="/community/alumni" class="btn btn-secondary">Alumni</a>
                  <a href="/community/mentors" class="btn btn-primary">Mentors</a>
                  <a href="/community/hometeam" class="btn btn-primary">Team</a>
                </p>
              </div>
            </section>
        
            <div class="album text-muted">
              <div class="container">
        
                <div class="row">
                  <div class="card thumb">
                    <img class="alumniphotos img-thumbnail" src="/images/IMG_8143.jpg" alt="Card image cap">
                    <h2>2017</h2>
                    <p class="card-text">Zhenyi, Yue (Jack), Youngyoon Seo (Amy), Anne J.P. Wen, Sophia Danielle S Mathews, Clemcei Jane B. Angara, Michelle Ann M. Luces, Mariana M. Untalan, Kennie, F., McDonald, Charience N Dela Cruz, Jude, Z, San Nicolas, Christine Joy P. Grino, Dylan T. Franquez, Jun-Yi (Ian) Wu, Althea D. Lomibao, Austin K. Kim, Winnie Liu, Jenae Therese A Pereda, Britney L.L. Johnmark, Danielle Alexis O Ramos, Yawen Hao</p>
                  </div>
                </div> 
                <div class="row">
                  <div class="card thumb embed-responsive embed-responsive-16by9">
                     <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fpncguam%2Fvideos%2F1330910010253660%2F&show_text=0&width=560"style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    <h2>2016</h2>
                    <p class="card-text">Jodene F Sanchez, Amiotonu T. San Nicolas, Jeong Inn H Park, Stephanie M. Hong, Raeana B. Muna, Veronica A. Chua, Mariane Beatrice M. Diaz, Joie R. Blas , Alyssa M.C. Taitano, Hye In Noh, Katherine Rose G. Perez, Maria B.  Silvestre, Ha'ani L. San Nicolas, Annette Kang, Wen Juan Kitty Ke, Taylor C. Roberto
Regin, C. Agsalud</p>
                  </div>
                </div>
                <div class="row">
                  <div class="card thumb ">
                    <img class="alumniphotos img-thumbnail" src="/images/IMG_2015.jpg" alt="Card image cap">
                    <h2>2015</h2>
                    <p class="card-text">Christopher Justin Hattori, Ariana Barreau, Brandon Lee K. Santos, Keone Aliphios, Sai Gogineni , Daniel Han, Theana Lynn Aromin, Rolly Anne David, Daniel Han, Samuel Untalan, Bo Hyun Kong, Hanna Sahagon , Alexandria S. Aflague , Byungwoo So(Andy), Ashley Toves, Jeffrey Ochavillo</p>
                  </div>
                 </div> 
                </div>
              </div>
            </div>
        
            <footer class="text-muted">
              <div class="container">
                <p class="float-right">
                  <a href="#">Back to top</a>
                </p>
                <p><a href="/donate">Donate</a> to HOME and support our cause!  Help keep our program tuition-free!</p>
              </div>
            </footer>

<% include partials/footer %> 