<% include partials/header %>

<div id="app-form" class="container forms">
    <div id="instructions">
        <h1>Application</h1>
        <p>H.O.M.E. is looking for driven high school and premedical students interested in health care. Competitive applicants will demonstrate academic success, a strong interest in medicine and health care, and a passion to help the island of Guam. Ideal candidates:</p>
        <ul>
            <li>Attends an accredited high school or university</li>
            <li>Minimum 3.5 GPA (3.0 if a university student)</li>
            <li>Demonstrates a strong interest in medicine or related health professions</li>
        </ul>
        <p>If you would like to apply, please make an account using one of the forms below.  Please email any questions to homemedicalprogram@gmail.com</p>
    </div>
    <div class="container applications">
        <a href="/hs"class="btn btn-primary btn-lg highschool">Highschool Application</a>
        <a  href="/premed" class="btn btn-primary btn-lg highschool">Premedical Application</a>
    </div>
     <a class="bouncelinks" href="/">Home</a>
     <a class="bouncelinks redirect" href="/community/mentors">Are you a physician?</a>
</div>


<% include partials/footer %>