<% include partials/header %>

<div id="app-form" class="container forms">
    <div id="instructions">
        <h1>Application</h1>
        <p>H.O.M.E. is looking for driven high school and premedical students interested in health care. Competitive applicants will demonstrate academic success, a strong interest in medicine and health care, and a passion to help the island of Guam. Ideal candidates:</p>
        <ul>
            <li>Attend an accredited high school or university</li>
            <li>Minimum 3.5 GPA (3.0 if a university student)</li>
            <li>Demonstrates a strong interest in medicine or related health professions</li>
        </ul>
        <p>If you would like to apply, please apply using one of the forms below.  Please email any questions to homemedicalprogram@gmail.com</p>
        <p><b>Applications due:</b> April 15th, 2019<b><br>Decisions emailed by:</b> May 1st, 2019</p>
        <p><b>H.O.M.E. Scholars will:</b></p>
        <ul><li>Be paired with 1 or more H.O.M.E physician-mentors (depending on the availability of the physician-mentors; we will try to pair you based on your interest in a type of medical specialty)</li>
        <li>Become HIPAA (Health Insurance Portability and Accountability Act) certified</li>
        <li>Become BLS (Basic Life Support) - First Aid & CPR w/ AED certified</li>
        <li>Be prepared to complete H.O.M.E. Curriculum which includes basic human anatomy & physiology and internship assignments.</li>
        <p></p><b>Students must be available for:</b><p></p>
        <li>Shadowing for the full month of June or July, if not both</li>
        <li>Orientation: TBD (either end of May or beginning of June)</li>
        <li>June H.O.M.E. Scholar Meet-Up: TBD</li>
        <li>July H.O.M.E. Scholar Meet-Up: TBD</li>
        <li>Appreciation Banquet: TBD (either end of July or beginning of August)</li></ul>
</p>
    </div>
    <div class="container applications">
        <a href="/hs"class="btn btn-primary btn-lg highschool">Highschool Application</a>
        <a  href="/premed" class="btn btn-primary btn-lg highschool">Premedical Application</a>
    </div>
     <a class="bouncelinks" href="/">Home</a>
     <a class="bouncelinks redirect" href="/community/mentors">Are you a physician?</a>
</div>


<% include partials/footer %>