<% include partials/header %>

<div class="container">
    <div id="instructions">
        <h1>Congratulations!</h1>
        <p>Great job! You have officially applied to the HOME program and we have received your application. We will be in contact with an application decision by the date provided on our website.<br>
           If you have and questions, please feel freed to email us at homemedicalprogram@gmail.com</p>
         <a href="/">Home</a>
    </div>
</div>


<% include partials/footer %>