<% include partials/header %>

<div id="app-form" class="container forms">
        <div id="instructions">
            <h1>Donate</h1>
            <p>HOME relies on the generosity of our community to sustain our program. We appreciate any and all donations!</p>
        </div>
       <script src="https://cdn.donately.com/dntly-core/1.8/core.min.js" data-donately-id="act_486c7d2154b6" data-stripe-publishable-key="pk_live_E4GH2RRKXTvKFufhPEkrjLB0" data-donately-amount="25" data-donately-presets="5,15,50,75,100" data-donately-phone="true" data-donately-anonymous="true" data-donately-onbehalf="true" data-donately-payment-options="cc" data-donately-custom-css='{ ".donately-donation-form .donately-btn":{"background-color":"#3ed8ee"}, ".donately-donation-form .donately-btn:hover":{"background-color":"#3ed8ee"} }' ></script>
        <a class="bouncelinks" href="/">Home</a>
        <a class="bouncelinks redirect" href="/apply">Don't have an account?</a>
    </div>







<% include partials/footer %>



