<% include partials/galleryheader %>    
        
         <div class="collapse bg-dark" id="navbarHeader">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Explore our gallery to meet our our HOME alumni, mentors, and team.  Looking for something else? Check out our helpful links to the right.</p>
                  </div>
                  <div class="col-sm-4 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                      <li><a href="https://www.facebook.com/homemedicalprogram/" class="text-white">Like us on Facebook</a></li>
                      <li><a href="/community/mentors" class="text-white">Want to be a Mentor?</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar navbar-dark bg-dark">
              <div class="container d-flex justify-content-between">
                <a class="navbar-brand gallerynav" href="/">
                    <image src="/images/New Logo-2.png" width="25px" height="55px"></image>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
            </div>
        
            <section class="jumbotron text-center">
              <div class="container">
                <h1 class="jumbotron-heading">HOME Team</h1>
                <p class="lead text-muted">Meet the team, advisors, and sponsors that make the magic happen.</p>
                <p>
                  <a href="/community/alumni" class="btn btn-primary">Alumni</a>
                  <a href="/community/mentors" class="btn btn-primary">Mentors</a>
                  <a href="/community/hometeam" class="btn btn-secondary">Team</a>
                </p>
              </div>
            </section>
        
            <div class="album text-muted">
              <div class="container">
        
                <div class="row">
                  <div class="card">
                    <img class="img-thumbnail" src="/images/amanda.png" alt="Card image cap">
                    <h4>Dr. Amanda del Rosario, MD</h4>
                    <p class="card-text"><b>Executive Director</b></p>
                  </div>
                  <div class="card">
                    <img class="img-thumbnail" src="/images/AJ.jpg" alt="Card image cap">
                    <h4>Aaron "AJ" Rios</h4>
                    <p class="card-text"><b>President</b></p>
                  </div>
                  <div class="card">
                    <img class="img-thumbnail" src="/images/Bien.png" alt="Card image cap">
                    <h4>Noel Bien Carlos</h4>
                    <p class="card-text"><b>Vice-President</b></p>
                  </div>
                  <div class="card">
                    <img class="img-thumbnail" src="/images/KC.png" alt="Card image cap">
                    <h4>Kassandra Cruz</h4>
                    <p class="card-text"><b>>Program Coordinator</b></p>
                  </div>
                  <div class="card">
                    <img class="img-thumbnail" src="/images/Berg.jpg" alt="Card image cap">
                    <h4>Dr. Nathaniel Berg, MD</h4>
                    <p class="card-text"><b>Advisor</b></p>
                  </div>
                  <div class="card">
                    <img class="img-thumbnail" src="/images/Eveline.jpg" alt="Card image cap">
                    <h4>Eveline Campus</h4>
                    <p class="card-text"><b>Advisor</b></p>
                  </div>
                </div>
              </div>
            </div>
        
            <footer class="text-muted">
              <div class="container">
                <p class="float-right">
                  <a href="#">Back to top</a>
                </p>
                 <p><a href="/donate">Donate</a> to HOME and support our cause!  Help keep our program tuition-free!</p>
              </div>
            </footer>

<% include partials/footer %> 