<% include partials/header %>
<div id="app-form" class="container forms">
    <div id="instructions">
        <h1>High School Application</h1>
    </div>
    <form action="/hs" method="POST" id="register">
         <div class="form-row">
            <div class="form-group col-md-4">
              <label class="col-form-label">Full Name</label>
              <input type="text" name="appl[full_name]" class="form-control" placeholder="Full Name">
            </div>
            <div class="form-group col-md-4">
              <label for="email" class="col-form-label">Email</label>
              <input type="email" name="appl[email]" class="form-control" placeholder="Email">
            </div>
            <div class="form-group col-md-4">
              <label for="number" class="col-form-label">Contact Number</label>
              <input type="tel" name="appl[contact_number]" class="form-control"placeholder="Phone Number">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="col-form-label">Parent Full Name</label>
              <input type="text" name="appl[p_name]" class="form-control" placeholder="Full Name">
            </div>
            <div class="form-group col-md-4">
              <label for="inputEmail4" class="col-form-label">Parent Email</label>
              <input type="email" name="appl[p_email]" class="form-control" placeholder="Email">
            </div>
            <div class="form-group col-md-4">
              <label class="col-form-label">Parent Contact Number</label>
              <input type="tel" name="appl[p_contact_number]" class="form-control" placeholder="Phone Number">
            </div>
          </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="applicationType">Application Type</label>
                    <select name="appl[app_type]" class="form-control studenttype">
                    <option value="1">High School Student</option></option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">Birthday</label>
                     <input class="form-control" type="date" name="appl[bday]">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">Intended College Major</label>
                     <input class="form-control" type="text" name="appl[major]">
                </div>
            </div>
          <div class="form-row">
              <div class="form-group col-md-4">
                <label for="exampleFormControlInput1">High School Name</label>
                <input type="text" name="appl[school_type]"class="form-control" placeholder="High School Name">
              </div>
              <div class="form-group col-md-4">
                <label for="exampleFormControlInput1">GPA</label>
                <input type="text" name="appl[gpa]" class="form-control" placeholder="3.0">
              </div>
               <div class="form-group col-md-4">
                    <label for="applicationType">Year In School</label>
                    <select name="appl[year]" class="form-control studenttype">
                    <option value="1">Freshman</option></option>
                    <option value="1">Sophomore</option></option>
                    <option value="1">Junior</option></option>
                    <option value="1">Senior</option></option>
                    </select>
              </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">What specialties are you interested in and why?</label>
            <textarea name="appl[specialty]" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
          <div class
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Essay Prompt: Why are you interested in health care?</label>
            <textarea name="appl[essay]" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Are there any special circumstances you would like H.O.M.E. to know about? (optional)</label>
            <textarea name="appl[extra]" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">How did you hear about HOME?</label>
            <textarea name="appl[discover]" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
          <div id="submit">
              <button type="submit" class="btn btn-primary btn-lg">Apply</button>
          </div>
          <a class="bouncelinks" href="/">Home</a>
    </form>
</div>

<% include partials/header %>

