<% include partials/header %>
    <nav class="navbar navbar-expand-md fixed-top inverted">
                <a class="navbar-brand logo" href="/">
                    <image src="/images/New Logo-2.png" width="25px" height="55px"></image>
                </a>
                 <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#nav-coll" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <i id="hamburger" class="fa fa-bars" aria-hidden="true"></i>
                  </button>
                <div class="collapse navbar-collapse" id="nav-coll">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item mainnav">
                     <a class="nav-link mainlink" href="/apply">Apply</a>
                  </li>
                  <li class="nav-item mainnav">
                    <a class="nav-link mainlink" href="/community/alumni">Community</a>
                  </li>
                   <li class="nav-item mainnav">
                    <a class="nav-link mainlink" href="/donate">Donate</a>
                  </li>
                </ul>
                  <a class="nav-link mainlink" href="/login">Log In</a>
              </div>
    </nav>
    <div class="home-top">
        <div>
            <h1>The Health Opportunities and Medical Exposure <br> Summer Program</h1>
        </div>
    </div>
    <div class = "what-is" >
        <div id="thisone" class="row">
              <h2>What is HOME?</h2>
        </div>
        <div id="what-is" class="row align-items-start">
            <div class="col-lg-6 col-md-12 col-sm-12  landing">
                     <p>H.O.M.E. is a 501(c)3 nonprofit organization dedicated to increasing the population of local physicians currently practicing on the island of Guam. H.O.M.E. exposes high-achieving, interested high school and premedical students to the medical field through shadowing and mentoring opportunities. <br><br>It is our hope that the experiences our students gain during the program will drive them to succeed in a health care profession, and that they will eventually return and give back to their island H.O.M.E.</p>
                     <a href="/apply" class="btn btn-primary">Apply</a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 embed-responsive embed-responsive-16by9">
                     <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fpncguam%2Fvideos%2F1330910010253660%2F&show_text=0&width=560"style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
            </div>
        </div>
         <div class="row align-items-center">
             <div class="col-md-4 landing">
                <i id="icons" class="fa fa-user-md" aria-hidden="true"></i>
               <h3>Students</h3>
              <p>HOME considers all high school and premedical students for a spot in the program.  For more information on what we look for, click the button below.</p>
               <a href="/apply" class="btn btn-primary">Learn More</a>
            </div>
             <div class="col-md-4 landing">
                <i id="icons" class="fa fa-user-md" aria-hidden="true"></i>
               <h3>Doctors</h3>
               <p>Are you interested in becoming a HOME mentor? Read more and contact us by clicking the button below.</p>
               <a href="/community/mentors" class="btn btn-primary">Become A Mentor</a>
            </div>
            <div class="col-md-4 landing">
                <i id="icons" class="fa fa-handshake-o" aria-hidden="true"></i>
               <h3>Help HOME</h3>
               HOME relies on the generosity of physicians, provider organizations, and the community to provide a tuition-free educational experience.  Please consider donating to HOME using the button below.  All proceeds will benefit the accepted students of the program.</p>
               <a href="/donate" class="btn btn-primary">Donate</a>
            </div>
        </div>

<% include partials/footer %>