<% include partials/galleryheader %>    
        
         <div class="collapse bg-dark" id="navbarHeader">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Explore our img-thumbnaillery to meet our our HOME alumni, mentors, and team.  Looking for something else? Check out our helpful links to the right.</p>
                  </div>
                  <div class="col-sm-4 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                      <li><a href="https://www.facebook.com/homemedicalprogram/" class="text-white">Like us on Facebook</a></li>
                      <li><a href="/community/mentors" class="text-white">Want to be a Mentor?</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar navbar-dark bg-dark">
              <div class="container d-flex justify-content-between">
                <a class="navbar-brand img-thumbnaillerynav" href="/">
                    <image src="/images/New Logo-2.png" width="25px" height="55px"></image>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
            </div>
        
            <section class="jumbotron text-center">
              <div class="container">
                <h1 class="jumbotron-heading">HOME Mentors Past and Present</h1>
                <p class="lead text-muted">HOME would like to thank the physicians who take time out of their busy schedules to teach and mentor our students. Without their generosity, HOME would not be possible. Thank you! <br> If you are interested in becoming a HOME mentor, please email the team at homemedicalprogram@gmail.com</p>
                  <a href="/community/alumni" class="btn btn-primary">Alumni</a>
                  <a href="/community/mentors" class="btn btn-secondary">Mentors</a>
                  <a href="/community/hometeam" class="btn btn-primary">Team</a>
                  <a href="/community/sponsors" class="btn btn-primary">Sponsors</a>
                </p>
              </div>
            </section>
        
            <div class="album text-muted">
              <div class="container">
        
                <div class="row">
                <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img class="img-thumbnail" src="/images/Adolphson.png" alt="Card image cap">
                    <h4>Dr. Arania Adolphson, MD</h4>
                    <p class="card-text"><b>Clinic: </b>American Medical Center<br><b>Education: </b>: Brown Univ. Alpert Medical School<br> <b>Specialty: </b>: Family/Sports Medicine</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img class="img-thumbnail" src="/images/Alford.png" alt="Card image cap">
                    <h4>Dr.Erica Alford, MD</h4>
                    <p class="card-text"><b>Clinic: </b>American Medical Center<br><b>Education: </b>: New York Medical College<br> <b>Specialty: </b>: Endocrinology</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img  class="img-thumbnail"src="/images/amanda.png" alt="Card image cap">
                    <h4>Dr. Amanda del Rosario, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: American Medical Center<br><b>Education: </b>: Univ. of Washington SOM<br> <b>Specialty: </b>: Pediatrics</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img  class="img-thumbnail" src="/images/Berg.jpg" alt="Card image cap">
                    <h4>Dr. Nathaniel Berg, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: Guam Radiology Consultants<br><b>Education: </b>: Tufts University SOM<br> <b>Specialty: </b>: Diagnostic Radiology</p>
                  </div>
        
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img  class="img-thumbnail" src="/images/Blancaflor.png" alt="Card image cap">
                    <h4>Dr. Maria Blancaflor, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: MPG Pediatrics<br><b>Education: </b>: University of Santo Tomas<br> <b>Specialty: </b>: Pediatrics</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img  class="img-thumbnail" src="/images/Carlos.png" alt="Card image cap">
                    <h4>Dr. Ramel Carlos, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: The Nuerology Clinic<br><b>Education: </b>: Far Eastern University<br> <b>Specialty: </b>: Neurology</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img  class="img-thumbnail" src="/images/Carrera.png" alt="Card image cap">
                   <h4>Dr. Yolanda Carrera, MD</h4>
                    <p class="card-text"><b>Specialty: </b>: Pediatrics</p>
                  </div>
        
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img  class="img-thumbnail" src="/images/Castro.png" alt="Card image cap">
                   <h4>Dr. Jerry Castro, MD</h4>
                    <p class="card-text"><b>Education: </b>: Uniformed Services University of the Health Sciences<br> <b>Specialty: </b>: Otolaryngology</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img class="img-thumbnail" src="/images/cruz.png" alt="Card image cap">
                   <h4>Dr. Luis Cruz, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: IHP Medical Group<br><b>Education: </b>: John A. Burns SOM<br> <b>Specialty: </b>: Family/Sports Medicine</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img  class="img-thumbnail" src="/images/Cunningham.png" alt="Card image cap">
                    <h4>Dr. John Cunningham, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: Hafa Adai Specialists Group<br><b>Education: </b>: University of Iowa<br> <b>Specialty: </b>: Orthopedic Surgery</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img  class="img-thumbnail" src="/images/Consoli.png" alt="Card image cap">
                    <h4>Dr. Rachael Consoli, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: FHP Health Center<br> <b>Specialty: </b>: Obstetrician/Gynecologist</p>
                  </div>                 
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img  class="img-thumbnail" src="/images/Domalanta.png" alt="Card image cap">
                   <h4>Dr. Dina Domalanta-Villaluna, MD</h4>
                    <p class="card-text"><b>Education: </b>: F. Q. Duque Medical Foundation<br> <b>Specialty: </b>: Pediatrics</p>
                  </div>
                <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img class="img-thumbnail" src="/images/Duenas.png" alt="Card image cap">
                    <h4>Dr.Vincent Duenas, DO</h4>
                    <p class="card-text"><b>Clinic: </b>FHP Health Center<br><b>Education: </b>:Touro Univ. College of Osteopathic Medicine<br> <b>Specialty: </b>: Adult Medicine</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img class="img-thumbnail" src="/images/Fojas.png" alt="Card image cap">
                   <h4>Dr. Milliecor Fojas, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: American Medical Center<br><b>Education: </b>: Univ. of the City of Manila <br> <b>Specialty: </b>: Pediatrics</p>
                  </div>
                 <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img class="img-thumbnail" src="/images/Garcia.png" alt="Card image cap">
                   <h4>Dr. Antonio Garcia, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: Med First Physicians’ Group<br><b>Education: </b>: Far Eastern Univ. <br> <b>Specialty: </b>: Pediatrics</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img  class="img-thumbnail" src="/images/Gladys.png" alt="Card image cap">
                    <h4>Dr. Maria Gladys Linsangan, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: Polymedic Clinic: <br><b>Specialty: </b>: Pediatrics</p>
                  </div>
                  
                   <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img  class="img-thumbnail" src="/images/Landstrom.png" alt="Card image cap">
                   <h4>Dr. Jerone Landstrom, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: Pacific Hand Surgery Center<br><b>Education: </b>: Wayne State University<br> <b>Specialty: </b>: Hand/Micro/General Surgery</p>
                  </div>
                   <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img  class="img-thumbnail" src="/images/Dlee.png" alt="Card image cap">
                   <h4>Dr. Delores Lee, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: IHP Medical Group<br><b>Education: </b>: Univ. of Hawaii at Manoa JABSOM<br> <b>Specialty: </b>: Family Medicine</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img  class="img-thumbnail" src="/images/Lim.png" alt="Card image cap">
                   <h4>Dr. Doris Lim, MD</h4>
                    <p class="card-text"><b>Specialty: </b>: Internal Medicine</p>
                  </div>
                   <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img  class="img-thumbnail" src="/images/Jlim.png" alt="Card image cap">
                   <h4>Dr. Johnny Lim, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: Adult Healthcare Clinic:<br><b>Specialty: </b>: Internal Medicine</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img class="img-thumbnail"  src="/images/Luan.png" alt="Card image cap">
                    <h4>Dr. Luan Nguyen, MD</h4>
                   <p class="card-text"><b>Clinic: </b>: American Medical Center<br><b>Education: </b>: SSpartan Health Sciences Univ. SOM<br> <b>Specialty: </b>: Family/Aesthetic/Internal Medicine</p>
                  </div>
                   <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img  class="img-thumbnail" src="/images/randy.png" alt="Card image cap">
                   <h4>Dr. Randolph Leon Guerrero, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: IHP Medical Group<br><b>Education: </b>: USC Keck SOM<br> <b>Specialty: </b>: Internal Medicine</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img class="img-thumbnail" src="/images/Mariano.png" alt="Card image cap">
                   <h4>Dr. Maria Mariano, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: Central Medical <b></b><br><b>Specialty: </b>: Family Medicine</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img class="img-thumbnail" src="/images/Mina.png" alt="Card image cap">
                   <h4>Dr. Cristina Manaloto, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: American Pediatrics<br><b>Specialty: </b>: Pediatrics</p>
                  </div>
                 <div class="card col-lg-3 col-md-4 col-xs-6">
                   <img class="img-thumbnail" src="/images/Pham.png" alt="Card image cap">
                   <h4>Dr. Christopher Pham, DDS</h4>
                   <p class="card-text"><b>Clinic: </b>: Reflection Dental<br><b>Education: </b>: Univ. of the Pacific, SOD<br> <b>Specialty: </b>: sDentistry</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img class="img-thumbnail" src="/images/Santos.png" alt="Card image cap">
                    <h4>Dr. Edna Santos, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: Dr. Edna Santos' Clinic </b><br> <b>Specialty: </b>: Pediatrics</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img class="img-thumbnail" src="/images/Shieh.png" alt="Card image cap">
                    <h4>Dr. Thomas Shieh, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: Doctor Shieh's Clinic: <br><b>Education: </b>: Medical College of Wisconsin<br> <b>Specialty: </b>: OB/GYN</p>
                  </div>
                  <div class="card col-lg-3 col-md-4 col-xs-6">
                    <img  class="img-thumbnail"src="/images/Um.JPG" alt="Card image cap">
                    <h4>Dr. Mike Um, MD</h4>
                    <p class="card-text"><b>Clinic: </b>: One Love Pediatrics<br><b>Education: </b>: St. Louis University<br> <b>Specialty: </b>: Pediatrics</p>
                  </div>
                </div>
              </div>
            </div>
        
            <footer class="text-muted">
              <div class="container">
                <p class="float-right">
                  <a href="#">Back to top</a>
                </p>
               <p><a href="/donate">Donate</a> to HOME and support our cause!  Help keep our program tuition-free!</p>
              </div>
            </footer>

<% include partials/footer %>    