<% include partials/galleryheader %>    
        
         <div class="collapse bg-dark" id="navbarHeader">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Explore our gallery to meet our our HOME alumni, mentors, and team.  Looking for something else? Check out our helpful links to the right.</p>
                  </div>
                  <div class="col-sm-4 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                      <li><a href="#" class="text-white">Follow on Twitter</a></li>
                      <li><a href="#" class="text-white">Like on Facebook</a></li>
                      <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar navbar-dark bg-dark">
              <div class="container d-flex justify-content-between">
                <a class="navbar-brand gallerynav" href="/">
                    <image src="/images/New Logo-2.png" width="25px" height="55px"></image>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
            </div>
        
            <section class="jumbotron text-center">
              <div class="container">
                <h1 class="jumbotron-heading">HOME Mentors</h1>
                <p class="lead text-muted">HOME would like to thank the physicians who take time out of their busy schedules to teach and mentor our students. Without their generosity, HOME would not be possible. Thank you! <br> If you are interested in becoming a HOME mentor, please email the team at homemedicalprogram@gmail.com</p>
                  <a href="/community/alumni" class="btn btn-primary">Alumni</a>
                  <a href="/community/mentors" class="btn btn-secondary">Mentors</a>
                  <a href="/community/hometeam" class="btn btn-primary">Team</a>
                </p>
              </div>
            </section>
        
            <div class="album text-muted">
              <div class="container">
        
                <div class="row">
                  <div class="card">
                    <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                    <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                    <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
        
                  <div class="card">
                    <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                    <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                   <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
        
                  <div class="card">
                   <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                   <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                    <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
                  
                  <div class="card">
                   <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                   <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                    <img src="/images/Luan.png" alt="Card image cap">
                    <p class="card-text">Clinic: American Medical Center<br>Education: UH Manoa School of Medicine.<br> Specialty: Pediatrics</p>
                  </div>
                </div>
        
              </div>
            </div>
        
            <footer class="text-muted">
              <div class="container">
                <p class="float-right">
                  <a href="#">Back to top</a>
                </p>
               <p><a href="/donate">Donate</a> to HOME and support our cause!  Help keep our program tuition-free!</p>
              </div>
            </footer>

<% include partials/footer %>    