<% include partials/galleryheader %>    
        
         <div class="collapse bg-dark" id="navbarHeader">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Explore our gallery to meet our our HOME alumni, mentors, and team.  Looking for something else? Check out our helpful links to the right.</p>
                  </div>
                  <div class="col-sm-4 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                      <li><a href="https://www.facebook.com/homemedicalprogram/" class="text-white">Like us on Facebook</a></li>
                      <li><a href="/community/mentors" class="text-white">Want to be a Mentor?</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar navbar-dark bg-dark">
              <div class="container d-flex justify-content-between">
                <a class="navbar-brand gallerynav" href="/">
                    <image src="/images/New Logo-2.png" width="25px" height="55px"></image>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
            </div>
        
            <section class="jumbotron text-center">
              <div class="container">
                <h1 class="jumbotron-heading">HOME Mentors</h1>
                <p class="lead text-muted">HOME would like to thank the physicians who take time out of their busy schedules to teach and mentor our students. Without their generosity, HOME would not be possible. Thank you! <br> If you are interested in becoming a HOME mentor, please email the team at homemedicalprogram@gmail.com</p>
                  <a href="/community/alumni" class="btn btn-primary">Alumni</a>
                  <a href="/community/mentors" class="btn btn-secondary">Mentors</a>
                  <a href="/community/hometeam" class="btn btn-primary">Team</a>
                </p>
              </div>
            </section>
        
            <div class="album text-muted">
              <div class="container">
        
                <div class="row">
                  <div class="card col-md-4">
                    <img src="/images/Alford.png" alt="Card image cap">
                    <h4>Dr.Erica Alford, MD</h4>
                    <p class="card-text">Clinic: American Medical Center<br>Education: New York Medical College<br> Specialty: Endocrinology</p>
                  </div>
                  <div class="card col-md-4">
                    <img src="/images/amanda.png" alt="Card image cap">
                    <h4>Dr. Amanda del Rosario, MD</h4>
                    <p class="card-text">Clinic: American Medical Center<br>Education: University of Washington School of Medicine<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card col-md-4">
                    <img src="/images/Berg.jpg" alt="Card image cap">
                    <h4>Dr. Nathaniel Berg, MD</h4>
                    <p class="card-text">Clinic: Guam Radiology Consultants<br>Education: Tufts University School of Medicine<br> Specialty: Diagnostic Radiology</p>
                  </div>
        
                  <div class="card col-md-4">
                    <img src="/images/Blancaflor.png" alt="Card image cap">
                    <h4>Dr. Maria Blancaflor, MD</h4>
                    <p class="card-text">Clinic: MPG Pediatrics<br>Education: University of Santo Tomas<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card col-md-4">
                    <img src="/images/Carlos.png" alt="Card image cap">
                    <h4>Dr. Ramel Carlos, MD</h4>
                    <p class="card-text">Clinic: The Nuerology Clinic<br>Education: Far Eastern University<br> Specialty: Neurology</p>
                  </div>
                  <div class="card col-md-4">
                   <img src="/images/Carrera.png" alt="Card image cap">
                   <h4>Dr. Yolanda Carrera, MD</h4>
                    <p class="card-text">Specialty: Pediatrics</p>
                  </div>
        
                  <div class="card">
                   <img src="/images/Castro.png" alt="Card image cap">
                   <h4>Dr. Jerry Castro, MD</h4>
                    <p class="card-text">Education: Uniformed Services University of the Health Sciences<br> Specialty: Otolaryngology</p>
                  </div>
                  <div class="card">
                   <img src="/images/cruz.png" alt="Card image cap">
                   <h4>Dr. Luis Cruz, MD</h4>
                    <p class="card-text">Clinic: IHP Medical Group<br>Education: John A. Burns School of Medicine.<br> Specialty: Family Medicine / Primary Care Sports Medicine</p>
                  </div>
                  <div class="card">
                    <img src="/images/Cunningham.png" alt="Card image cap">
                    <h4>Dr. John Cunningham, MD</h4>
                    <p class="card-text">Clinic: Hafa Adai Specialists Group<br>Education: University of Iowa<br> Specialty: Orthopedic Surgery</p>
                  </div>
                  
                  <div class="card">
                   <img src="/images/Domalanta.png" alt="Card image cap">
                   <h4>Dr. Dina Domalanta-Villaluna, MD</h4>
                    <p class="card-text">Education: F. Q. Duque Medical Foundation<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                   <img src="/images/Fojas.png" alt="Card image cap">
                   <h4>Dr. Milliecor Fojas, MD</h4>
                    <p class="card-text">Clinic: American Medical Center<br>Education: University of the City of Manila, School of Medicine<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                    <img src="/images/Gladys.png" alt="Card image cap">
                    <h4>Dr. Maria Gladys Linsangan, MD</h4>
                    <p class="card-text">Clinic: Polymedic Clinic<br>Specialty: Pediatrics</p>
                  </div>
                  
                   <div class="card">
                   <img src="/images/Landstrom.png" alt="Card image cap">
                   <h4>Dr. Jerone Landstrom, MD</h4>
                    <p class="card-text">Clinic: Pacific Hand Surgery Center<br>Education: Wayne State University<br> Specialty: Hand Surgery, Micro Surgery, General Surgery</p>
                  </div>
                  <div class="card">
                   <img src="/images/Lim.png" alt="Card image cap">
                   <h4>Dr. Doris Lim, MD</h4>
                    <p class="card-text">Specialty: Internal Medicine</p>
                  </div>
                   <div class="card">
                   <img src="/images/Jlim.png" alt="Card image cap">
                   <h4>Dr. Johnny Lim, MD</h4>
                    <p class="card-text">Clinic: Adult Healthcare Clinic<br>Specialty: Internal Medicine</p>
                  </div>
                  <div class="card">
                    <img src="/images/Luan.png" alt="Card image cap">
                    <h4>Dr. Luan Nguyen, MD</h4>
                    <p class="card-text">Clinic: American Medical Center<br> Specialty: Family Medicine</p>
                  </div>
                   <div class="card">
                   <img src="/images/randy.png" alt="Card image cap">
                   <h4>Dr. Randolph Leon Guerrero, MD</h4>
                    <p class="card-text">Clinic: IHP Medical Group<br>Education: USC Keck School of Medicine<br> Specialty: Internal Medicine</p>
                  </div>
                  <div class="card">
                   <img src="/images/Mariano.png" alt="Card image cap">
                   <h4>Dr. Maria Mariano, MD</h4>
                    <p class="card-text">Clinic: Central Medical Clinic<br>Specialty: Family Medicine</p>
                  </div>
                  <div class="card">
                   <img src="/images/Mina.png" alt="Card image cap">
                   <h4>Dr. Cristina Manaloto, MD</h4>
                    <p class="card-text">Clinic: American Pediatrics Clinic<br>Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                    <img src="/images/Santos.png" alt="Card image cap">
                    <h4>Dr. Edna Santos, MD</h4>
                    <p class="card-text">Clinic: Dr. Edna Santos' Clinic<br> Specialty: Pediatrics</p>
                  </div>
                  <div class="card">
                    <img src="/images/Shieh.png" alt="Card image cap">
                    <h4>Dr. Thomas Shieh, MD</h4>
                    <p class="card-text">Clinic: Doctor Shieh's Clinic<br>Education: Medical College of Wisconsin<br> Specialty: OB/GYN</p>
                  </div>
                  <div class="card">
                    <img src="/images/Um.JPG" alt="Card image cap">
                    <h4>Dr. Mike Um, MD</h4>
                    <p class="card-text">Clinic: One Love Pediatrics<br>Education: St. Louis University<br> Specialty: Pediatrics</p>
                  </div>
                </div>
        
              </div>
            </div>
        
            <footer class="text-muted">
              <div class="container">
                <p class="float-right">
                  <a href="#">Back to top</a>
                </p>
               <p><a href="/donate">Donate</a> to HOME and support our cause!  Help keep our program tuition-free!</p>
              </div>
            </footer>

<% include partials/footer %>    