/*LANDING*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color:#e6faff;
}

.inverted {
    padding: 0;
}

.home-top {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;  
    width: 100%;
    position: relative;
}

.home-top div h1 {
    padding-top: 200px;
    text-align: center;
    margin: 0;
    color: white;
    text-shadow: 2px 4px 6px rgba(0,0,0,0.3);
    font-size: 30px;
}


#what-is {
    background-color:white;
    padding-top:40px;
}

#thisone {
    background-color: white;
}

.what-is .row h2 {
    padding-top: 100px;
    margin: auto;
    color: black;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}


.people {
    height:500px;  
    width:100%;
    background-color:#e6ffff;
}


.scrolled {
    transition: all 0.6s ease-out;
    background-color: rgba(0, 0, 0, 0.6);
}


.mainlink {
    text-shadow: 2px 4px 6px rgba(0,0,0,0.3);
   padding-top: 5px;
   padding-left: 10px;
   font-family: 'Montserrat', sans-serif;
   color: white;
}

.mainnav {
    padding-top: 10px;
}

.logo {
    padding-left: 40px;
    padding-top: 15px;
}

.btn-outline-primary {
    color: white;
    margin-right: 30px;
}

.btn-primary {
    background-color: #3ed8ee;
    border-color: #3ed8ee;
}


.form-inline {
    padding-top: 10px;
    padding-right: 15px;
}


#icons {
   font-size: 48px;
}

#hamburger {
    font-size: 30px;
}

.landing {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}


.align-items-center {
    padding-top:150px;
    padding-bottom: 50px;
}


button i {
    color: white;
    margin-top: 10px;
    margin-right: 10px;
}

.bouncelinks {
    color:#3ed8ee;
}

.embed-responsive {
    padding-bottom:20px;
}

/*application*/
#app-form {
    display: block;
    margin: 80px auto;
    width: 65%;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     background-color: white;
}

#instructions {
    text-align: center;
    padding: 20px;
}

#submit {
    text-align: center;
    padding-bottom: 15px;
}

.highschool {
    background-color: #3ed8ee;
    border-color: #3ed8ee;
}

#premed {
    background-color: #d3d3d3;
    border-color:#d3d3d3;
    margin-bottom:10px;
}

.applications {
    padding-bottom: 30px;
    text-align: center;
}


.midrow {
    text-align: center;
    padding-bottom: 15px;
}

.redirect {
    float: right;
}

.navbar-brand {
    padding-top:7px;
    padding-bottom:5px;
    padding-left:15px;
}

.forms {
    max-width: 40rem;
}

/*GALLERY*/

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.gallerynav {
    padding-top:0;
    padding-bottom:0;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.33%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}


.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}



